body {
      font-size: 24px; 
}
p.red {
    color:red
}
p.green {
    color:green
}
p.italic {
    font-style:italic
}
p.bold {
    font-weight:bold
}
li.green {
    color:green
}
li.red {
    color:red
}
li.blue {
    color:blue
}